db_data/
remote-key
*.pem
*.key
jenkins_home/.*
jenkins_home/*.xml
jenkins_home/*.log
jenkins_home/*.bak
jenkins_home/*.enc
jenkins_home/jenkins.install.*
jenkins_home/plugins/
jenkins_home/secrets/
jenkins_home/updates/
jenkins_home/war/
jenkins_home/workspace/
jenkins_home/jobs/
jenkins_home/users/
jenkins_home/logs/
jenkins_home/fingerprints/
jenkins_home/userContent/
jenkins_home/nodes/
jenkins_home/caches/
